name: Deploy All Components

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  # deploy-registries:
  #   secrets: inherit
  #   permissions:
  #     id-token: write
  #     contents: read
  #   uses: ./.github/workflows/deploy-ecr.yml
    
  deploy-storage:
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/deploy-storage.yml

  deploy-lambda-layers:
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/deploy-lambda-layers.yml
    needs: [deploy-storage]

  deploy-waf-cognito:
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/deploy-waf-and-auth.yml

  deploy-lambda-roles:
    secrets: inherit
    permissions:
        id-token: write
        contents: read
    uses: ./.github/workflows/deploy-lambda-roles.yml
    needs: [deploy-storage]

  deploy-microservices:
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    # needs: [deploy-registries, deploy-lambda-roles, deploy-storage, deploy-waf-cognito]
    needs: [deploy-lambda-roles, deploy-storage, deploy-waf-cognito, deploy-lambda-layers]
    uses: ./.github/workflows/deploy-microservices.yml