name: Deploy All Components

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  deploy-registries:
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/deploy-ecr.yml
    
  deploy-storage:
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/deploy-storage.yml

  deploy-lambda-roles:
    secrets: inherit
    permissions:
        id-token: write
        contents: read
    uses: ./.github/workflows/deploy-lambda-roles.yml
    needs: [deploy-storage]


    
  deploy-gateway:
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/deploy-api-gateway-and-auth.yml
    
  deploy-microservices:
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    needs: [deploy-registries, deploy-lambda-roles, deploy-storage, deploy-gateway]
    uses: ./.github/workflows/deploy-microservices.yml