name: Set Up Storage
on:
  push:
    branches: [ main ]
    paths:
        - "iac/storage/**"
  workflow_dispatch:

permissions:
  id-token: write   
  contents: read 

jobs:          
  deploy:
    strategy:
      matrix: 
        region: [us-east-1]
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies with Apt Get
        run: |
          sudo apt-get update
          sudo apt-get install python3.12 jq -y

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        
        with:
          role-to-assume: ${{ secrets.AWS_GITHUB_ACTIONS_ROLE_ARN }}
          aws-region: ${{ matrix.region }}

      - uses: aws-actions/setup-sam@v2
      
      - name: Get AWS Account ID
        id: account
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          echo "::add-mask::$ACCOUNT_ID"
          echo "account_id=$ACCOUNT_ID" >> $GITHUB_OUTPUT

      - name: Build/Deploy SAM
        working-directory: iac/storage
        run: |
          sam build --template s3.yaml
          sam deploy \
            --config-file samconfig.toml \
            --image-repository ${{ steps.account.outputs.account_id }}.dkr.ecr.${{ matrix.region }}.amazonaws.com/${{ secrets.ECR_REPO_NAME }} \
            --no-fail-on-empty-changeset \ 
            --template-file s3.yaml