name: Set Up ECR Repo
on:
  push:
    branches: [ main ]
    paths:
        - "iac/container_registry/**"
  workflow_dispatch:

permissions:
  id-token: write   
  contents: read 

jobs:          
  deploy:
    strategy:
      matrix: 
        region: [us-east-1, us-west-2 ,ap-southeast-1, ap-southeast-2, eu-central-1]
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies with Apt Get
        run: |
          sudo apt-get update
          sudo apt-get install python3.12 jq -y

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        
        with:
          role-to-assume: ${{ secrets.AWS_GITHUB_ACTIONS_ROLE_ARN }}
          aws-region: ${{ matrix.region }}

      - uses: aws-actions/setup-sam@v2
      
      - name: Get AWS Account ID
        id: account
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          echo "::add-mask::$ACCOUNT_ID"
          echo "account_id=$ACCOUNT_ID" >> $GITHUB_OUTPUT
    
      - name: Deploy CF Template
        working-directory: iac/container_registry
    
        run: |
          aws cloudformation deploy \
            --stack-name ecr-repo \
            --template-file file://ecr.yaml \
            --capabilities CAPABILITY_NAMED_IAM \
            --profile local-dev \
            --region ${{matrix.region}}